@import "../base/colors";

*,
*::before,
*::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
button, input{
  outline:none;
  border:none;
}

.errorMsg{
  color:red;
  font-size: 14px;
}